[submodule "src/myutils"]
	path = src/myutils
	url = https://github.com/yoshitomo-matsubara/myutils
[submodule "pytorch-gaussian-mixture-layer"]
	path = src/early_classifier/gmm_layer
	url = git@github.com:gabrielecastellano/pytorch-gaussian-mixture-layer.git
